ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    padding: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

#cardWrapper {
    display: flex;
    margin: 25px;
}

.card {
    background-color: peachpuff;
    margin: 1.3rem;
    padding: 1.2rem;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}